 html,
 body {
     font-family: sans-serif;
     background-color: #000;
     margin: 0;
     padding: 0;
     font-size: 0.9rem;
     height: 100%;
     overflow: hidden !important;
     box-sizing: border-box;
     min-width: 640px;
 }

 canvas {
     position: relative;
 }

 ul {
     list-style-type: none;
 }

 label {
     user-select: none;
     pointer-events: none;
 }

 /*#dropbtn {
     border: 1px solid red;
     color: white;
 }*/

 .info-label {
     display: flex;
     justify-content: space-between;
 }

 button {
     margin: 2px;
 }

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

 #slice-details:hover {
     cursor: pointer;
 }

 /* .select */

 #renderer-container {
     color: black;
     z-index: 2;
 }

 /* https://stackoverflow.com/questions/25653639/how-do-i-change-the-location-of-the-dat-gui-dropdown */
 #gui {
     z-index: 2;
 }

 .dg.ac {
     z-index: 2;
 }

 .ac {
     z-index: 3;
 }

 .dg {
     z-index: 3;
 }

 #menu {
     position: absolute;
     bottom: 20px;
     width: 100%;
     text-align: center;
     padding: 0;
     margin: 0;
 }

 button {
     color: rgb(255, 255, 255);
     background: transparent;
     border: 0px;
     padding: 5px 10px;
     cursor: pointer;
     border: 1px solid white;
 }

 button:hover {
     background-color: rgba(0, 255, 255, 0.5);
 }

 button:active {
     color: #000000;
     background-color: rgba(0, 255, 255, 1);
 }

 #cancel-btn:hover {
     background-color: rgb(177, 5, 5)
 }

 #electrode-controller {
     position: absolute;
     display: flex;
     justify-content: right;
     flex-direction: column;
     align-items: top;
     /* align-self: auto; */
     height: 70%;
     width: 15%;
     color: white;
     /* display: block; */
     background-color: #303030;
     padding: 5px;
     z-index: 2;
     min-width: 10%;
     border-bottom: 1px solid white;
 }

 #main-labels {
     display: flex;
     flex-direction: column;
     justify-content: left;
     align-items: right;
 }

 #slice-controller {
     display: flex;
     flex-flow: column;
     align-items: left;
     justify-content: flex-start;
     position: absolute;
     height: 35%;
     /* width: 16%; */
     background-color: #303030;
     top: 65%;
     z-index: 2;
     min-width: 10%;
     width: 15%;
     color: white;
     padding: 5px;
 }

 /* #electrode-controller:hover {
    z-index: 2;
} */

 .check-box {
     display: inline-block;
 }

 input:hover {
     cursor: pointer;
 }

 #onset-label {
     color: red;
 }

 #early-spread-label {
     color: yellow
 }

 #late-spread-label {
     color: green;
 }

 #electrode-menu:hover {
     cursor: pointer;
 }

 option:hover {
     cursor: pointer;
 }

 #ntools-search-container {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: auto;
     margin-left: auto;
 }

 #ntools-search {
     margin: 0;
     position: absolute;
     top: 50%;
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
 }

 .search-text {
     color: white;
 }

 #radio-button-modes {
     color: white;
 }

 .slice-container {
     width: calc(100% / 3);
     height: 30%;
     z-index: 500;
 }

 #3d {
     background-color: #000;
     width: 100%;
     height: 70%;
     margin-bottom: 2px;
     z-index: 0;
 }

 #sliceX:hover {
     border: 1px solid red;
 }

 #sliceY:hover {
     border: 1px solid green;
 }

 #sliceZ:hover {
     border: 1px solid blue;
 }

 .container {
     width: 100%;
     display: flex;
     justify-content: right;
 }


 #electrode-slice-container {
     display: flex;
     justify-content: center;
     height: 30%;
     width: 100%;
 }

 #color-legend {
     font-size: 1rem;
     left: 16%;
     /* padding: 0px; */
     /* margin-top: 0px; */
     /* bottom: 100%; */
     position: relative;
     z-index: 0;
 }

 #edit-menu {
     background-color: #5e5e5e;
     border: 1px solid black;
     position: absolute;
     z-index: 2;
     color: white;
     width: 25%;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: repeat(4, 1fr);
     padding: 5px;
 }

 .elec-tag {
     user-select: none;
     position: relative;
     z-index: 1;
     /* font-weight: bold; */
     font-weight: 550;
     color: red;
     -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;
     pointer-events: none;
 }

 #loading-text {
     position: absolute;
     color: white;
     width: 100%;
     bottom: 95%;
     pointer-events: none;
     text-align: center;
 }

 #electrode-info {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(5, 1fr);
     align-items: stretch;
 }
 
 #electrode-signal-window {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    width: 100%;
}
  
#electrode-signal-window-title {
    padding: 1px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

#signal-progress {
    position: absolute;
    bottom: 95%;
    z-index: 2;
    width: 40%;
    left: 30%;
    background-color: white;
    color: black;
    visibility: hidden;
}

#signal-bar {
    width: 0%;
    color: black;
    height: 15px;
    background-color: green;
}